:root {

    /*
    TEST
     */

    --red-hue: 100;
    /* ->  rgb(calc(var(--red-hue) * 0.5), 0, 0)*/

    /*
    style
     */
    --grid-gap-row: 0.4em;
    --grid-gap-column: 0.4em;
    --dashed-color: #bfbfbf;
    --panel-background-color: white;
    --highlight-color: #ff9500;
    --frame-background-color: #4e4e4e;
    --frame-color: #ededed;
    --grid-background-color: #e8e8e8;
    --link-color: #698ae6;

    /*
    functional
     */
    --grid-column-offset: 1;
    --grid-row-offset: 1;
    --grid-row-span: 1;
    --grid-column-span: 1;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body * {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link-color);
}

.grid-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background: var(--grid-background-color);
}

.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.adorner-layer {
    padding: calc(var(--grid-gap-row) / 2) calc(var(--grid-gap-column) / 2);
}

.data-layer {
    z-index: 2;
    padding: var(--grid-gap-row) var(--grid-gap-column);
    grid-gap: var(--grid-gap-row) var(--grid-gap-column);
}

.panel {
    grid-column: var(--grid-column-offset) / calc(var(--grid-column-span) + var(--grid-column-offset));
    grid-row: var(--grid-row-offset) / calc(var(--grid-row-span) + var(--grid-row-offset));
}

.data-panel {
    --border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-width) solid var(--dashed-color);
    position: relative;
    background: var(--panel-background-color);
    box-shadow: 2px 2px 3px 0 #dadada;
    overflow: hidden;
}

.data-panel > button {
    transition: all 0.3s;
    padding: 0.5em 1em;
    background: inherit;
    color: var(--dashed-color);
    border: inherit;
    border-radius: 5px;
}

.data-panel:hover {
    border-style: dashed;
    /*--border-width: 2px;*/
    --dashed-color: var(--highlight-color);
}

.resize-handle {
    position: absolute;
    display: inline-block;
    width: 2em;
    height: 2em;
    right: calc(-1 * var(--border-width, 1px));
    bottom: calc(-1 * var(--border-width, 1px));
    cursor: se-resize;
    background-image: linear-gradient(-45deg, var(--dashed-color) 1.4em, transparent 1.4em);
}

.data-panel:hover > button {
    padding: 2em 4em;
}

.active-panel {
    opacity: 0.2;
}

.valid-panel {
    background: lightgreen;
}

.invalid-panel {
    background: orangered;
}

.panel-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.panel-content h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.2rem;
    padding: 0.1em 0.5em;
    text-align: center;
}

.panel-body {
    flex-grow: 1;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.panel-body h2, .panel-body h3 {
    font-size: 1em;
}

header[role=banner], aside {
    background: var(--frame-background-color);
    color: var(--frame-color);
    padding: 0.2em;
}

header[role=banner] {
    border-bottom: 1px solid black;
}

aside {
    border-top: 1px solid black;
}

.modal {
    padding: 0.5em;
    transition: all 0.4s;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 500;
    left: 100%;
    background: var(--frame-background-color);
    color: var(--frame-color);
    border-left: 1px solid black;
}

.modal header {
    display: flex;
}

.modal h2 {
    flex-grow: 1;
}

.modal-content {
    padding: 0.5em;
}

.modal[aria-hidden=false] {
    left: 50%;
}

/*
FORM
 */

form, label {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

input, select {
    padding: 0 0.5em;
    outline: none;
    border: 1px solid black;
    font-style: italic;
    color: inherit;
    font-size: 0.9em;
    height: 2em;
    border-radius: 0;
    background: var(--frame-background-color);
    font-weight: lighter;
}

input:focus, select:focus {
    background: var(--highlight-color);
    color: var(--frame-color);
}

form button {
    border-style: solid;
    border-width: 1px;
    border-color: transparent #373737 #373737 transparent;
    background: var(--highlight-color);
    color: inherit;
    padding: 0.5em;
    font: inherit;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 #2b2b2b;
}

/**
ISSUES
 */

.issues-container, .issues-list {
    display: flex;
    flex-direction: column;
}

.issues-list {
    list-style: none;
    padding: 0.5em;
    font-size: 0.9em;
    overflow: scroll;
}

.issues-list > li:not(:first-child) {
    border-top: 1px solid var(--dashed-color);
}

.issue {
    padding: 0.5em 0;
}

.issue header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue header > * {
    padding: 0.5em;
}

.issue header p {
    margin: 0;
}

/*todo*/
.issue header > div {
    flex-grow: 1;
}







